.nav-tag {
  font-size: 100%;
}

.cont {
  margin: 6% 0 0;
  padding: 0;
  position: relative;
}

.background-image {
  width: 100%;
  filter: blur(3px);
}

.profile-pic {
  width: 20%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -50%);
}

.profile-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2% 0;
  font-weight: lighter;
  color: white;
}

.social-media {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 65%;
  left: 50%;
  width: 100%;
  margin: 3% 0;
  text-align: center;
  transform: translate(-50%, -50%);
}

.media {
  font-size: 2rem;
  margin: 0 2%;
  color: white;
}

.linkedin:hover {
  color: blue;
}

.instagram:hover {
  color: red;
}

.github:hover {
  color: grey;
}

.facebook:hover {
  color: blue;
}

/* ABOUT ME SECTION */
#about-me {
  padding-top: 5%;
}

.abt {
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0 0 2%;
}

.pt {
  font-weight: bold;
}

li {
  margin: 3% 0;
}

.education {
  text-align: center;
  margin: 3% 0;
}

/* achievements */
#achievements {
  background-color: #2C3639
}

.achieve-cont {
  padding: 0 10% 5% 10%;
}

.carousel-img {
  height: 500px;
}

.gate-cap {
  background-color: grey;
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}

.internit-cap {
  background-color: grey;
  font-weight: bolder;
  font-size: 1rem;
}

.upstse-cap {
  background-color: grey;
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}
